<div class="nav-welcome" data-scramble="Welcome to my world!">Welcome to my world!</div>
<nav class="nav-links">
    <a href="index.html#home" class="nav-link" data-page="home">chandan.info</a>
    <a href="work.html" class="nav-link" data-page="work">work.done</a>
</nav>
<div class="status-bar">
    <span class="status-item"><span class="status-dot"></span> Open to new work</span>
    <span class="status-item">Haridwar, Uttarakhand, India</span>
    <span class="status-item">12:42 PM</span>
</div>
